# Connecting to NIVABASEN from R

**Note:** I very rarely use R for this, so it may not be the best approach!

This code will only work from inside the NIVA network (i.e. from a NIVA computer at the office or connected via the VPN).

 1. First install the Oracle client. See e.g. [here](https://github.com/NIVANorge/niva_datasci_toolkit/blob/47046bdd62fe32975da565ec0f2f3ee9d27b8594/jupyterhub_base/Dockerfile#L32)
 
 2. Set environment variables
 
            export OCI_LIB=/usr/local/oracle/lib/oracle/11.2/client64/lib
            export OCI_INC=/usr/local/oracle/include/oracle/11.2/client64               
            export LD_LIBRARY_PATH=/usr/local/oracle/lib/oracle/11.2/client64/lib:$LD_LIBRARY_PATH
        
        
 3. Install `ROracle`
 
            install.packages("ROracle")
            
 4. Try running the code below

In [1]:
library("ROracle")
library("getPass")

Loading required package: DBI

### Get user credentials

In [2]:
user <- getPass("Username: ")

Username:  ···

In [3]:
pw <- getPass("Password: ")

Password:  ········

### Connect to database

In [4]:
host <- "nivabase.niva.no"
port <- 1521
sid <- "nivabase"
drv <- dbDriver("Oracle")

connect.string <- paste(
    "(DESCRIPTION=", 
    "(ADDRESS=(PROTOCOL=tcp)(HOST=", host, ")(PORT=", port, "))", 
    "(CONNECT_DATA=(SID=", sid, ")))", 
    sep = ""
)

con <- dbConnect(
    drv, 
    username = user, 
    password = pw, 
    dbname = connect.string,
)

### Run queries

In [5]:
rs <- dbSendQuery(con, "SELECT * FROM nivadatabase.projects")
data <- fetch(rs)
head(data)

  PROJECT_ID PROJECT_NAME                   PROJECT_DESCRIPTION STARTDATE
1 2380       Trondheimsfjorden 1540_83      1540_83             <NA>
2 2381       Trondheimsfjorden 1641_84      1641_84             <NA>
3 2382       Tvedestrand supp. sedimentund. 4986-2005           <NA>
4 2383       Varangerfjorden 2213_89        2213_89             <NA>
5 2384       Varangerfjorden 3281_95        3281_95             <NA>
6 2385       Vefsnfjorden 1330_81           1330_81             <NA>
  ENDDATE ENTERED_BY ENTERED_DATE
1 <NA>    ABM        2007-06-14 13:03:34
2 <NA>    ABM        2007-06-14 13:03:34
3 <NA>    JVE        2012-05-08 13:26:00
4 <NA>    ABM        2007-06-14 13:03:34
5 <NA>    ABM        2007-06-14 13:03:34
6 <NA>    ABM        2007-06-14 13:03:34